.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureBox {
    background-color: var(--kadai-color-background);
    background-clip: content-box;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    opacity: 0.75;
}

.featureSvg {
    height: 140px;
    width: 150px;
}

.featureText {
    text-align: justify;
}

.blauerEngelContainer {
    margin: 0 auto;
}

.blauerEngelContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blauerEngelImage {
    flex: 0 0 auto;
    margin-right: 20px;
    margin-left: 20px;
}

.blauerEngelText {
    flex: 1;
    margin-right: 20px;
}

.blauerEngelText h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    margin-top: 20px;
}

.blauerEngelText p {
    font-size: 1.2rem;
    line-height: 1.6;
}
